body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    margin: 0;
    padding: 0;
}

main {
    max-width: 1000px;
    margin: 40px auto;
    background: rgb(176, 0, 0);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

h1, h2 {
    text-align: center;
}

.inputs {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    flex: 1;
    padding: 10px;
    font-size: 1rem;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    background: #ffffff;
    color: rgb(4, 4, 4);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0011ff;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ff0000;
}

thead {
    background: #ff0000;
    color: rgb(0, 0, 0);
}
